# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json

# IDEs
.vscode/
.idea/

# Git
.git/
.gitignore

# Ambiente
.env
.env.local

# Testes e Docs
tests/
docs/

# Docker
Dockerfile
.dockerignore

README.md
